a {
  text-decoration: none;
  color: inherit !important;
}

body {
  direction: rtl;
  font-size: 100%;
  font-family: "Noto Nastaliq Urdu", serif;
}

li {
  list-style-type: none;
}

#main {
  width: 100%;
}
#main #main_section1_one {
  width: 100%;
  min-height: 123vh;
}
#main #main_section1_one #main_div1_one {
  width: 100%;
  padding-left: 0;
  min-height: 100%;
}
#main #main_section1_one #main_div1_one #main_div2_one {
  min-height: 17vh;
  background-color: white;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div3_one {
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div3_one img {
  cursor: pointer;
  background-repeat: no-repeat;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div4_one {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div4_one ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div4_one ul li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 10px;
  font-size: 17px;
  font-weight: 600;
  color: #666;
  transition: 0.4s;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div4_one ul li:hover {
  cursor: pointer;
  color: #e31e30;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div5_one {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div5_one span {
  margin-top: 7px;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div5_one span i {
  color: #666;
  font-size: 19px;
  padding: 0 8px;
  transition: 0.2s;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div5_one span i:hover {
  cursor: pointer;
  color: #e31e30;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div5_one #main_div6_one {
  padding: 10px 7px;
  width: 126px;
  background-color: #e31e30;
  margin: 0 73px 0 0;
  transition: 0.2s;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div5_one #main_div6_one:hover {
  background-color: #57317a;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div5_one #main_div6_one a {
  color: rgba(255, 255, 255, 0.952) !important;
  font-weight: 600;
}
#main #main_section1_one #main_div1_one #main_div2_one #main_div5_one #main_div6_one a i {
  font-size: 18px;
}
#main #main_section1_one #main_section2_one {
  width: 100%;
  border-bottom: 5px solid #e31e30;
  background-image: url(../images/2.jpg);
  min-height: 70vh;
  position: relative;
  background-repeat: no-repeat;
}
#main #main_section1_one #main_section2_one #main_div7_one {
  position: absolute;
  bottom: 60PX;
  right: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  color: #666;
  text-align: justify;
}
#main #main_section1_one #main_section2_one #main_div7_one p {
  color: #666;
}
#main #main_section1_one #main_section2_one #main_div7_one p:nth-of-type(1) {
  font-weight: 600;
}
#main #main_section1_one #main_section2_one #main_div7_one #main_div8_one {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #57317a;
  transition: 0.2s;
}
#main #main_section1_one #main_section2_one #main_div7_one #main_div8_one:hover {
  background-color: #e31e30;
}
#main #main_section1_one #main_section2_one #main_div7_one #main_div8_one a {
  font-size: 17px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.952) !important;
  font-weight: 600;
}
#main #main_section1_one #main_section3_one {
  width: 100%;
}
#main #main_section1_one #main_section3_one #main_div9_one {
  width: 100%;
  padding-top: 40px;
}
#main #main_section1_one #main_section3_one #main_div9_one #main_div10_one {
  padding-right: 20px;
}
#main #main_section1_one #main_section3_one #main_div9_one #main_div10_one .main_div11_one {
  width: 162.33px;
  margin-right: 19px;
  transition: 0.2s;
}
#main #main_section1_one #main_section3_one #main_div9_one #main_div10_one .main_div11_one:hover {
  box-shadow: 0 0 2px 3px rgba(153, 153, 153, 0.199);
  cursor: pointer;
}
#main #main_section1_one #main_section3_one #main_div9_one #main_div10_one .main_div11_one .main_div12_one {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main #main_section1_one #main_section3_one #main_div9_one #main_div10_one .main_div11_one .main_div12_one #main_div12_1_one {
  background-image: url(../images/3.png);
  width: 70px;
  height: 70px;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}
#main #main_section1_one #main_section3_one #main_div9_one #main_div10_one .main_div11_one .main_div12_one #main_div12_2_one {
  background-image: url(../images/3.png);
  width: 70px;
  height: 70px;
  background-position: 0 -70px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}
#main #main_section1_one #main_section3_one #main_div9_one #main_div10_one .main_div11_one .main_div12_one #main_div12_3_one {
  background-image: url(../images/3.png);
  width: 70px;
  height: 70px;
  background-position: 0 -140px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}
#main #main_section1_one #main_section3_one #main_div9_one #main_div10_one .main_div11_one .main_div12_one #main_div12_4_one {
  background-image: url(../images/3.png);
  width: 70px;
  height: 70px;
  background-position: 0 -210px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}
#main #main_section1_one #main_section3_one #main_div9_one #main_div10_one .main_div11_one .main_div12_one #main_div12_5_one {
  background-image: url(../images/3.png);
  width: 70px;
  height: 70px;
  background-position: 0 -280px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}
#main #main_section1_one #main_section3_one #main_div9_one #main_div10_one .main_div11_one .main_div12_one #main_div12_6_one {
  background-image: url(../images/3.png);
  width: 70px;
  height: 70px;
  background-position: 0 -350px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}
#main #main_section1_one #main_section3_one #main_div9_one #main_div10_one .main_div11_one .main_div13_one {
  text-align: center;
  padding-top: 10px;
}
#main #main_section1_one #main_section3_one #main_div9_one #main_div10_one .main_div11_one .main_div13_one h4 a {
  font-size: 18px;
  font-weight: 600;
  color: #57317a !important;
}
#main #main_section1_one #main_section3_one #main_div9_one #main_div10_one .main_div11_one .main_div13_one p {
  color: #666;
  font-size: 13px;
  font-weight: bold;
}
#main #main_section1_two {
  width: 100%;
  min-height: 130vh;
  background-color: #f8f8f8;
}
#main #main_section1_two #main_div1_two {
  width: 100%;
}
#main #main_section1_two #main_div1_two #main_div2_two {
  padding-top: 50px;
}
#main #main_section1_two #main_div1_two #main_div2_two h6 {
  font-size: 17px;
  color: #e31e30;
  font-weight: 600;
  padding-right: 30px;
}
#main #main_section1_two #main_div1_two #main_div3_two #main_div4_two h4 {
  padding-bottom: 15px;
  font-size: 17px;
  font-weight: 600;
  color: #57317a;
  transition: 0.1s;
}
#main #main_section1_two #main_div1_two #main_div3_two #main_div4_two h4:hover {
  color: #e31e30;
}
#main #main_section1_two #main_div1_two #main_div3_two #main_div4_two p {
  font-size: 17px;
}
#main #main_section1_two #main_div1_two #main_div3_two #main_div4_two h5 {
  padding-top: 10px;
  font-size: 18px;
  color: #337ab7;
  transition: 0.1s;
}
#main #main_section1_two #main_div1_two #main_div3_two #main_div4_two h5:hover {
  color: #e31e30;
}
#main #main_section1_two #main_div1_two #main_div3_two #main_div5_two {
  border-right: 1px solid #ddd;
}
#main #main_section1_two #main_div1_two #main_div3_two #main_div5_two h4 {
  font-size: 17px;
  color: #57317a;
  padding-bottom: 7px;
  transition: 0.1s;
}
#main #main_section1_two #main_div1_two #main_div3_two #main_div5_two h4:hover {
  color: #e31e30;
}
#main #main_section1_two #main_div1_two #main_div3_two #main_div5_two h4 i {
  color: #e31e30;
}
#main #main_section1_two #main_div1_two #main_div3_two #main_div5_two #main_div6_two {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 13px;
  background-color: #57317a;
  margin-top: 40px;
  transition: 0.2s;
  border-right: 1px solid gainsboro;
}
#main #main_section1_two #main_div1_two #main_div3_two #main_div5_two #main_div6_two:hover {
  background-color: #e31e30;
}
#main #main_section1_two #main_div1_two #main_div3_two #main_div5_two #main_div6_two span {
  font-size: 18px;
  color: #f8f8f8;
}
#main #main_section1_two #main_div1_two #main_div7_two .main_article1_two {
  padding: 0 10px;
}
#main #main_section1_two #main_div1_two #main_div7_two .main_article1_two h4 {
  transition: 0.2s;
}
#main #main_section1_two #main_div1_two #main_div7_two .main_article1_two h4:hover {
  color: #e31e30;
}
#main #main_section1_two #main_div1_two #main_div7_two .main_article1_two #main_div8_two {
  background-image: url(../images/5.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100%;
  min-height: 207px;
}
#main #main_section1_two #main_div1_two #main_div7_two .main_article1_two #main_div9_two {
  background-image: url(../images/5.png);
  background-repeat: no-repeat;
  background-position: 0 -207px;
  width: 100%;
  min-height: 207px;
}
#main #main_section1_two #main_div1_two #main_div7_two .main_article1_two #main_div10_two {
  background-image: url(../images/5.png);
  background-repeat: no-repeat;
  background-position: 0 -413px;
  width: 100%;
  min-height: 207px;
}
#main #main_section1_two #main_div1_two #main_div7_two .main_article1_two h4 {
  font-size: 19px;
  font-weight: 600;
  padding-top: 35px;
}
#main #main_section1_two #main_div1_two #main_div7_two .main_article1_two p {
  padding-top: 10px;
  font-size: 17px;
}
#main #main_section1_three {
  width: 100%;
  min-height: 70vh;
  background-color: white;
}
#main #main_section1_three #main_div1_three {
  width: 100%;
}
#main #main_section1_three #main_div1_three #main_div2_three #main_div3_three {
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  text-align: center;
  padding: 16px;
  margin-bottom: 15px;
  width: 100%;
}
#main #main_section1_three #main_div1_three #main_div2_three #main_div3_three span {
  font-size: 19px;
  left: 50%;
  margin-left: -65px;
  padding: 0 15px;
  position: absolute;
  background: #fff;
}
#main #main_section1_three #main_div1_three #main_div3_three {
  padding: 40px 0;
}
#main #main_section1_three #main_div1_three #main_div3_three .main_div4_three .main_div5_three .main_div6_three {
  border-left: 1px solid #ddd;
}
#main #main_section1_three #main_div1_three #main_div3_three .main_div4_three .main_div5_three .main_div6_three h4 {
  font-size: 17px;
  padding: 0 -5px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.801);
}
#main #main_section1_three #main_div1_three #main_div3_three .main_div4_three .main_div5_three #main_div7_three {
  background-image: url(../images/6.png);
  margin: -10px 22px 12px 0;
  background-position: 0 0;
  width: 70px;
  height: 70px;
  padding: 5px;
}
#main #main_section1_three #main_div1_three #main_div3_three .main_div4_three .main_div5_three #main_div8_three {
  background-image: url(../images/6.png);
  margin: -10px 22px 12px 0;
  background-position: 0 -70px;
  width: 70px;
  height: 70px;
  padding: 5px;
}
#main #main_section1_three #main_div1_three #main_div3_three .main_div4_three .main_div5_three #main_div9_three {
  background-image: url(../images/6.png);
  margin: -10px 22px 12px 0;
  background-position: 0 -140px;
  width: 70px;
  height: 70px;
  padding: 5px;
}
#main #main_section1_three #main_div1_three #main_div3_three .main_div4_three .main_div10_three {
  border-top: 1px solid #ddd;
  text-align: center;
  padding-top: 25px;
  width: 90%;
}
#main #main_section1_three #main_div1_three #main_div3_three .main_div4_three .main_div10_three p {
  color: #999;
  font-weight: bold;
  font-size: 15px;
}
#main #main_section1_three #main_div1_three #main_div3_three .main_div4_three .main_div10_three h6 {
  color: #57317a;
  font-size: 17px;
  padding-top: 19px;
  transition: 0.2s;
}
#main #main_section1_three #main_div1_three #main_div3_three .main_div4_three .main_div10_three h6:hover {
  color: #e31e30;
}
#main #main_section1_three #main_div1_three #main_div11_three {
  padding: 15px 0;
}
#main #main_section1_three #main_div1_three #main_div11_three #main_div12_three {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 13px;
  background-color: #57317a;
  color: #fff;
  transition: 0.2s;
}
#main #main_section1_three #main_div1_three #main_div11_three #main_div12_three:hover {
  background-color: #e31e30;
}
#main #main_footer_four {
  width: 100%;
  min-height: 40vh;
  background-color: #ddd;
}
#main #main_footer_four #main_div1_four {
  width: 100%;
}
#main #main_footer_four #main_div1_four #main_div2_four {
  padding-top: 50px;
}
#main #main_footer_four #main_div1_four #main_div2_four #main_div3_four #main_div4_1_four a i {
  color: #999;
  transition: 0.2s;
}
#main #main_footer_four #main_div1_four #main_div2_four #main_div3_four #main_div4_1_four a i:hover {
  color: #57317a;
}
#main #main_footer_four #main_div1_four #main_div2_four #main_div3_four h6 {
  color: rgba(102, 102, 102, 0.842);
  font-weight: 600;
  font-size: 17px;
}
#main #main_footer_four #main_div1_four #main_div2_four #main_div3_four span {
  color: rgb(146, 145, 145);
  font-size: 16px;
}
#main #main_footer_four #main_div1_four #main_div2_four #main_div4_four {
  color: rgb(146, 145, 145);
}
#main #main_footer_four #main_div1_four #main_div2_four #main_div4_four .main_div5_four {
  padding: 7px 0;
}
#main #main_footer_four #main_div1_four #main_div2_four #main_div4_four .main_div5_four a {
  font-size: 14px;
  padding: 0 7px;
}
#main #main_footer_four #main_div1_four #main_div2_four #main_div6_four {
  color: rgb(146, 145, 145);
  font-size: 15px;
}
#main #main_footer_four #main_div1_four #main_div2_four #main_div6_four li {
  transition: 0.2s;
  padding: 2px;
}
#main #main_footer_four #main_div1_four #main_div2_four #main_div6_four li:hover {
  color: #e31e30;
  cursor: pointer;
}
#main #main_div7_four2 {
  background-color: #3e1153;
}
#main #main_div7_four2 #main_div8_four2 #main_div9_four2 h5 {
  color: #fff;
  text-align: center;
  padding: 15px 0;
}/*# sourceMappingURL=global.css.map */